<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if(user) { %>
      <form action="/logout?_method=DELETE" method="post">
        <span>Logedin As: <%= user.email %></span>
        <button class="btn btn-outline-info">logout</button>
      </form>
    <% } else { %>
      <a href="/register" class="btn btn-primary btn-sm mr-1">Register</a>
      <a href="/login" class="btn btn-info btn-sm ml-2 mr-1">login</a>
    <% } %>
  </nav>
</header>




