<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <style>
    </style>
    <title>URL - TinyApp Example</title>
  </head>
  <body>
    <div class="d-flex flex-column min-vh-100">
      <%- include('partials/_header') %>
      <main class="flex-fill">
        <div class="container mt-3 container-sm mt-5 ">
          <div class="jumbotron text-white" style="background-image: url('https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_1280.jpg');
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;">
            <h1 class="display-4">Hello User!</h1>
            <p class="lead">This is a simple app for keeping websites organized and kept in database as short URL </p>
            <hr class="my-4">
            <p class="text-light">Register as user now and you can enjoy free websites organized database. </p>
            <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up!!</a>
          </div>
        </div>
      </main>

    <%- include('partials/_footer') %>
    </div>


    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
